*{
    box-sizing: border-box;
}
div{
    height: 150px;
    font-size:clamp(20px,5vw,50px)
}
#left {
    background-color: #f00;
    padding: 20px;
    float: left;
    width: 20%;
    color:#0f0; 
  }
  
#middle {
    background-color: #360c00;
    padding: 20px;
    float: left;
    width: 60%; 
    color: #300100;
  }
  
#right {
    background-color: rgb(162, 0, 255);
    padding: 20px;
    float: left;
    width: 20%; 
    color: rgb(255, 251, 0);
  }
#header{
    background-color: black;
    color: white;
    text-align: center;
}
#menu{
    text-align: center;
    line-height: 75px;
    font-size: clamp(20px, 5vw, 50px);
    background-color:#002612;
}
p{
    margin: 10px;
}
a{
    margin: 3%;
    color:#102a22;
    text-decoration: none;
    line-height: 300%;
}

@media screen and (max-width:800px){
    #left,#middle,#right,#menu{
        width:100%;
    }
    
    #header{
        display: none;
    }
    p,a{
        font-size: 60px;
    }
    a{
        line-height: 130px;

    }
    p{
        line-height: 90px;
    }
}

@media screen and (max-width:1000px){
    #header{
        height:50px;
    }
    #left,#middle,#right,#menu{
        width:100%;
    }
    
}

